body{
	background: url("../images/intersection/intersection.png");
}

*{
	text-align:center;
	line-height:1.5;
	box-sizing: border-box;
}

.scoreCard{
	height:155px;
}

.numToGuess{
	height:235px;
	padding-top:50px;
}

#gameTitle{
	margin-top:10px;
	margin-bottom:0px;
	font-family: 'Audiowide', cursive;
 	font-size: 80px;
}

#gem1{
	height:85px;
}

#gem2{
	width:100px;
}
 
#gem3, #gem4{
	width:75px;
}